.login{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  background-image: url('./images/music.webp');
  background-repeat: no-repeat;
  background-size: cover;
}

.login>button{
  height: 10%;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  border-style: none;
}

.search{
  width: 75vw;
}

.search>div:last-child{
  position: fixed;
  top: 5px;
  left:25%;
}

.inputsearch{
  position: fixed;
  top: 0px;
  width: 50%;
}

.albums{
  width: 100%;
  background-image: url('./images/music.webp');
  background-repeat: no-repeat;
  background-size: cover;
}

.lecteur{
  position: fixed;
  top: 0%;
  right: 0%;
}

.logout{
  background-color: red;
  position: fixed;
  height: 40px;
  top: 5px;
  left: 10px;
  border-style: none;
  border-radius: 20px;
  color: white;
}